.box{display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin-right: 5px;
}


.box:nth-child(odd){
    background: yellow;
}    

.box:nth-child(even){
    background: green;
    position: relative;
    top: 25px;  

}
